<!doctype html> 
<html>  
  <head>  
    <title><%=shopName%></title> 
    <link rel="stylesheet" href="/css/styles.css">
  </head>  
  <body>  
    <h1> Register for the <%=shopName%> </h1> 
    <form method="POST" action="/registered"> 
    First Name:<input id="first" type="text" name="first"/>
    <br> <br> 
    Last Name:<input id="last" type="text" name="last" /> 
    <br><br> 
    Email:<input id="email" type="text" name="email" />
    <br><br> 
    <input type="submit" value="OK" /> 
    </form> 
</body>  
</html> 